<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwxu.lc.um.mapper.MenuRoleMapper"> 
	<select id="selectMenuByRoleId" parameterType="com.zwxu.lc.um.model.MenuRole" resultType="java.lang.Integer">
		<![CDATA[
           	SELECT
				mid
			FROM
				t_menu_role
			WHERE
				rid = #{rid,jdbcType=INTEGER}
        ]]> 
	</select>

</mapper>